<header class="header-product">
    <h1 class="product-logo product-logo-large">Linha do Tempo <span>MPPR</span></h1>
    <h2 class="product-tagline">Ferramenta para criar cronologias interativas.</h2>
    <a class="button button-secondary button-large button-small-phone" href="#make">Criar Linha do Tempo</a>
    <nav id="navbar-secondary" class="navbar navbar-subnav column-hide-phone">
        <ul>
            <li class="logo">
                <h2 class="product-logo product-logo-smallest">Linha do Tempo <span>MPPR</span></h2>
            </li>
        </ul>
        <ul>
                <li><a class="button" href="#overview">Visão Geral</a></li>
                <li><a class="button" href="#examples">Exemplos</a></li>
                <li><a class="button" href="#make">Criar Linha do Tempo</a></li>
                <li><a class="button" href="#help">Ajuda</a></li>
        </ul>
    </nav>
</header>
